idea/
Pipfile
/Pipfile.lock
chapter.cpython-38.pyc
**/**/*.pyc
venv/
src/util/config.json
vcs.xml
workspace.xml
/.idea/*
/discord.log
test.csv
test.txt
test.xls
/.idea/discord.xml
/.idea/sshConfigs.xml
/poetry.lock
/oldres.txt
.env
linux stuff.txt
.pgpass
backupscript
.aws/*
**/_build
**/__pycache__/*
.idea/poetry.xml
