idea/
Pipfile
/Pipfile.lock
chapter.cpython-38.pyc
src/model/__pycache__/
venv/
src/util/config.json
vcs.xml
workspace.xml
/.idea/.gitignore
/.idea/TaigaBot.iml
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/webServers.xml
/discord.log
/src/cogs/__pycache__/done.cpython-38.pyc
/src/cogs/__pycache__/loops.cpython-38.pyc
/.idea/sqldialects.xml
/src/cogs/__pycache__/stats.cpython-38.pyc
misc.cpython-38.pyc
053728d1-7c6b-4104-bea2-9a2d66be0e05.csv
0b4e8e66-2f54-4e39-b613-25b6e51f7cdf.csv
19974860-b2b0-4f73-8895-9d243c2616e5.csv
1f871131-87d4-42fe-b40e-bf4b6d23d76f.csv
27748da2-5d52-4e08-844a-e82d316240a5.csv
29d3be78-cf73-41af-813f-889c1ba2bbf4.csv
88d393c5-ff9f-4544-a29c-6a9e595baab0.csv
9d5527a5-ab1b-4fd0-bdf5-be2ece817c94.csv
a25e5d36-781d-4a23-9de8-d500eafe7aca.csv
b496e336-823a-4e7f-9bd3-7d24eff6fcd2.csv
d52f1d24-74dc-4621-934b-02bf953681e2.csv
dfa2ca74-e046-49ef-a1f7-2a90c54af39e.csv
f6a196be-a2b0-4ec5-9f6f-adcb6ae0da3f.csv
test.csv
test.txt
test.xls
/src/cogs/__pycache__/help.cpython-38.pyc
/src/cogs/__pycache__/info.cpython-38.pyc
/src/cogs/__pycache__/reminder.cpython-38.pyc
/src/util/__pycache__/exceptions.cpython-38.pyc
/src/util/__pycache__/misc.cpython-38.pyc
/.idea/discord.xml
/.idea/sshConfigs.xml
/files/b3a145f3-366f-46a8-b328-27d649594fa5.csv
/src/cogs/__pycache__/tags.cpython-38.pyc
search.cpython-38.pyc